<div class="container team">
      <div class="row">
         <!-- <h2>Who made it?</h2> -->
      </div>


      <div class="col-md-6 text-center">
         <%= image_tag "andrian.jpg" %>
         <h2>Andrian Gretsko</h2>
         <ul>
            <li class="text-left"> <i class="ionicons ion-social-linkedin"></i> <a href="http://linkedin.com/in/agretsko">linkedin.com/in/agretsko </a> </li>
            <li class="text-left"> <i class="fa fa-github-square"></i> <a href="http://github.com/grek-andrian">github.com/grek-andrian </a> </li>
            <li class="text-left"> <i class="fa fa-facebook-official"></i> <a href="http://facebook.com/andrian.gretsko">facebook.com/andrian.gretsko</a> </li>
         </ul>
      </div>

      <div class="col-md-6 text-center">
         <%= image_tag "roman.jpg" %>
         <h2>Roman Kanafotskyi</h2>
         <ul>
            <li class="text-left"> <i class="ionicons ion-social-linkedin"></i> <a href="http://ua.linkedin.com/in/roman-kanafotskyi-a1737989
            ">linkedin.com/in/roman-kanafotskyi </a>
             </li>
            <li class="text-left"> <i class="fa fa-github-square"></i> <a href="http://github.com/RomanUkraine"> github.com/RomanUkraine </a> </li>
            <li class="text-left"> <i class="fa fa-facebook-official"></i> <a href="http://facebook.com/roman.kanafotskiy">facebook.com/roman.kanafotskiy</a> </li>

         </ul>
      </div>




</div>
