/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */

* {
    -webkit-font-smoothing: antialiased;
     font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F5F5F6;
}

.label {
    font-size: 1.2em;
    font-weight: 100;
}

.btn {
    border-radius: 2px;
    font-weight: 600;
}

.btn-danger {
    background-color: rgba(201, 48, 44, 0.58);
    color: black;
    border: none;
    color: white;
    &:hover {
        background-color: rgba(201, 48, 44, 0.80);
        border-color: transparent;
    }
}

.btn-success {
    background-color: rgba(57,132,57,0.58);;
    color: black;
    border: none;
    color: white;
    &:hover {
        background-color: rgba(57,132,57,0.80);
        border-color: transparent;
    }
}

.btn-warning {
    background-color: rgba(236,151,31,0.58);;
    color: black;
    border: none;
    color: white;
    &:hover {
        background-color: rgba(236,151,31,0.80);
        border-color: transparent;
    }
}


.thumbnail {
    img {
        margin-bottom: 20px;
        width: 100%;
    }
        .caption {
        .hall-title {
            margin-left: 30px;
            h3 {
                    a {
                        font-size: 1.4em;
                        line-height: 10px;
                    }
                }
        }
        .description {
            display: none;
        }
    }
}


#price {
    width: 100px;
    height: 30px;
    background-color: rgba(78, 74, 69, 0.65);
    float: left;
    margin-left: -9px;
    margin-top: -70px;
       p {
        color: #fff;
        font-weight: 700;
        font-size: 1.5em;
        line-height: inherit;
       }
}


pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
.first{
    padding : 0;
    float: none;
    border: none;
}
.prev {
    padding : 0;
    float: none;
    border: none;
}
.page{
    padding : 0;
    float: none;
    border: none;
}
.next{
    padding : 0;
    float: none;
    border: none;
}
.last{
    padding : 0;
    float: none;
    border: none;
}
}


.navbar {
    border: none;
    border-radius: 0;
}

.navbar-default {
    background-color: #494E58;
    .navbar-header {
            a {
                color: white;
                font-family: 'Life Savers', cursive;
                font-weight: 700;
                font-size: 30px;
                &:hover {
                    color: white;
                }
            }
    }
    .navbar-nav {
        li {
            a {
                color: #F9F9F9;
                font-weight: 400;
                font-size: 16px;
                &:hover {
                    color: white;
                }
            }
        }
    }
}


ul li:hover:after,
ul li.active:after{
    border: .15em solid #2E9FFF;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 100px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    background-color: #FF5A5F;
    .active {
        a {
            background-color: #5BC0DE;
        }
    }
}



.search-wrapper {
    background-color: white;
    margin-top: -82px;
    margin-bottom: 25px;
    margin-left: -70px;
    h2 {
        float: left;
        margin-top: 24px;
        margin-left: -70px;
    }
    .type {
        float: left;
        margin-right: 87px;
        margin-left: -30px;
        margin-top: -3px;
    }
    .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px;
}
    select {
        margin-left: 39px;
        margin-top: 53px;
    }
    button {
        margin-top: 21px;
        margin-bottom: 10px;
    }
    .search {
        margin: 0 auto;
        display: table;
        input[type="checkbox"] {
                height: 1.25em;
                width: 1.25em;
                margin-right: 5px;
                vertical-align: top;
                background-color: #fff;
        }
    }
}

span.label {
    margin-bottom: 20px;
}


// SHOW HALL //

.panel-default {
    padding: 20px;
}

.show-hall-wrapper {
    .col-md-9 {
        margin-top: -18px;
    }
    .price {
        font-weight: 700;
        font-size: 2em;
    }
    h5.label {
        display: inline-block;
        margin-bottom: -3px;
    }
    h3 {
        font-size: 2em;
    }
    .description {
        margin-bottom: 20px;
        word-break: break-all;
        h5 {
            font-size: 1.1em;
        }
    }
    .col-md-6 {
        font-size: 1.1em;
    }
}


.img-preview img{
    height:200px;
    width: 300px;
}

.user-info {
    margin-bottom: 40px;
    img {
        border-radius: 50px;
        margin-bottom: 10px;
        width:100px;
    }
}

#contact-form {
    height: 320px;
    padding: 30px;
    button {
        margin-right: 15px;
    }
    .col-sm-10 {
        margin-bottom: 15px;
        label {
            float: left;
        }
    }
}


// ///////      LIST GRID

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}


.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

#products {
    .list-group-item {
        .thumbnail {
            background-color: transparent;
            border: none;
            .caption {
                .hall-title {
                    float: left;
                    margin-left: 44px;
                }
                #price {
                    float: none;
                    margin-left: 394px;
                    margin-top: 50px;
                }
                .description {
                    display: block;
                    p {
                        margin: -74px -50px 11px;
                        padding-right: 78px;
                    }
                }
            }
            h5 {
                display: none;
            }
        }
        img {
            width:  25%;
        }
    }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

body {
    margin-bottom: 40px;
}

.navbar-brand {
    margin-top: -12px;
}
